<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' title="filter_by"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='segments && segments.length'>
                <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary'>
                            Show Image
                        </button>
                    </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pixel ID</th>
                    <th>Expression</th>
                    <th>SDL String</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='#segment of segments'>
                    <td></td>
                    <td>{{ segment.id }}</td>
                    <td>{{ segment.name }}</td>
                    <td>{{ segment.pixel_id }}</td>
                    <td>{{ segment.expression }}</td>
                    <td>{{ segment.SDLString }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
